<mat-card class="add-form-card">

  <mat-form-field class="full-width">
    <input matInput type="number" [formControl]="serialNumber" placeholder="Number">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="name" placeholder="Name">
  </mat-form-field>

  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" (click)="insertSection()">Add Section</button>
  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" [routerLink]="['/sections-list-of-chapters']" routerLinkActive="router-link-active"  >Back to Sections</button>
</mat-card>