.main-student-button-div{
    padding: 3px;
    width: 100%;
}

.main-student-button-div > button{
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}
.main-student-button-div > h4{
    float: left;
}
.classes-table {
    width: 100%;
}

.example-icon {
    padding: 14px 14px;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 5px;
  }

  /* Auto complete CSS 111 */
  .example-form {
    /* min-width: 150px;
    max-width: 500px; */
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .half-width{
    width: 49%;
    margin: 0.5%;
  }

  
  .example-option-img {
    vertical-align: middle;
  }

  .add-student-form-card{
    width: 500px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* 111 */