<mat-card class="add-form-card">

  <h4> {{selectedStudentClassKey}} </h4>
  <h4>Subject: {{selectedSubject}}</h4>

  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="name" placeholder="Name">
  </mat-form-field>

  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" (click)="insertChapter()">Add Student</button>
  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" [routerLink]="['/chapters-list-of-subjects']" routerLinkActive="router-link-active"  >Back to Subjects</button>
</mat-card>