<mat-card class="add-form-card">

  <h3> {{selectedStudentsClassKey}} </h3>

  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="name" placeholder="Name">
  </mat-form-field>

  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" (click)="insertSubject()">Add Subject</button>
  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" [routerLink]="['/subjects-list-in-classes']" routerLinkActive="router-link-active"  >Back to Subjects</button>

</mat-card>
