<mat-card class="full-width">

  <mat-chip-list>
    <mat-chip color="primary" selected [routerLink]="['//students-list']"> {{selectedStudentNumber}} :
      {{selectedStudentName}} </mat-chip>
    <mat-chip color="accent" selected>
      {{selectedStudentClassKey}} >
      {{selectedSubject}} >
      {{selectedChapter}} >
      {{selectedSection}}
    </mat-chip>
  </mat-chip-list>

  <div *ngIf='startQuizStatus && !quizCompleted'>
    <mat-card>
      <h4>Time: {{startDateTime | date : 'HH:mm:ss'}}, Date: {{startDateTime | date : 'dd/MM/yyyy'}} </h4>
    </mat-card>
    <mat-card>
      Question No: {{pager.index}} of {{totalQuestions}}
    </mat-card>
    <div *ngIf="selectedQuestion">
      <mat-card> <strong>{{selectedQuestion.$key}} : {{selectedQuestion.questionName}} </strong> </mat-card>
      <mat-card>
        <button type="submit" mat-raised-button color="primary" class="full-width" (click)="submitAnswer('A')">{{selectedQuestion.optionA}}</button>
      </mat-card>
      <mat-card>
        <button type="submit" mat-raised-button color="primary" class="full-width" (click)="submitAnswer('B')">{{selectedQuestion.optionB}}</button>
      </mat-card>
      <mat-card>
        <button type="submit" mat-raised-button color="primary" class="full-width" (click)="submitAnswer('C')">{{selectedQuestion.optionC}}</button>
      </mat-card>
      <mat-card>
        <button type="submit" mat-raised-button color="primary" class="full-width" (click)="submitAnswer('D')">{{selectedQuestion.optionD}}</button>
      </mat-card>
    </div>
  </div>

  <mat-card>
    <button *ngIf='!startQuizStatus' type="submit" mat-stroked-button color="accent" class="full-width" (click)="startQuiz()">
      Start Quiz </button>
  </mat-card>

  <!-- <button *ngIf='quizCompleted' type="submit" mat-stroked-button color="accent" class="full-width" (click)="restartQuiz()">
    Restart Quiz</button> -->

</mat-card>
