<mat-card class="add-form-card">

  <mat-chip-list>
    <mat-chip color="primary" selected>{{studentsClassKey}}</mat-chip>
    <mat-chip color="accent" selected>{{subejectName}}</mat-chip>
    <mat-chip color="accent" selected>{{chapterName}}</mat-chip>
    <mat-chip color="accent" selected>{{sectionName}}'s questions</mat-chip>
  </mat-chip-list>





  <mat-form-field class="full-width">
    <input matInput type="number" [(ngModel)]="lastNumber" [formControl]="serialNumber" name="serialNumber" placeholder="Question Number">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="questionName" name="questionName" placeholder="Question: ">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="optionA" name="optionA" placeholder="Option A: ">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="optionB" name="optionB" placeholder="Option B: ">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="optionC" name="optionC" placeholder="Option C: ">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="text" [formControl]="optionD" name="optionD" placeholder="Option D: ">
  </mat-form-field>


  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" (click)="insertQuestion()">Add Question</button>
  <button type="submit" mat-stroked-button color="accent" class="half-width-49pr-05mrg" [routerLink]="['/sections-list-of-chapters']" routerLinkActive="router-link-active" >Back to Questions</button>

</mat-card>
