<!-- <div class="main-student-button-div">
  <h4>Create New Student</h4>
  <button mat-stroked-button color="accent" routerLink="/students-list">Back to Classes</button>
</div>
<table class="classes-table"></table>
<hr> -->

<!-- Add student feilds 000 -->
<mat-card class="add-student-form-card">
  <h4>Create New Student</h4>

  <form class="example-form">
    <mat-chip-list>
      <mat-chip>Class : Nursery</mat-chip>
      <mat-chip>Roll No : 1</mat-chip>
    </mat-chip-list>
    <hr>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" type="text" required aria-label="State">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Father Name" required>
    </mat-form-field>
    <mat-form-field class="add-student-form-card">
      <input matInput type="text" placeholder="Address" required>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput type="number" placeholder="Phone">
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput [matDatepicker]="picker" placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-stroked-button color="accent" class="half-width" (click)="openDialog()" >
      Add New Student
    </button>
    <button mat-stroked-button color="accent" routerLink="/students-list" class="half-width">Back to Classes</button>
  </form>
</mat-card>
<!-- 000 -->

<!-- <hr> -->
<!-- This is Add-Student -->
<!-- <div class="example-container">
  <mat-card>
    This is true.

    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </mat-card>
</div> -->

<!-- stepper code 111 -->

<!-- <div class="classes-table">
  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Add New Student</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div> -->

<!-- 111 -->