<mat-card class="add-student-form-card">

  <mat-form-field class="example-full-width">
    <input matInput type="text" name="studentClassKey" [(ngModel)]="studentClassKey" readonly placeholder="Class">
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="rollNumber" name="rollNumber" placeholder="Roll Number" id="test">
      <mat-option *ngFor="let number of studentsNumbers" [value]="number">
        {{number}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" [formControl]="name" placeholder="Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" [formControl]="fatherName" placeholder="Father Name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [formControl]="address" placeholder="Address">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="number" [formControl]="phone" placeholder="Phone">
  </mat-form-field>

  <button type="submit" mat-stroked-button color="accent" class="half-width" (click)="insertStudent()">Add Student</button>
  <button type="submit" mat-stroked-button color="accent" class="half-width" routerLink="/students-list">Back to
    Students</button>

</mat-card>
