<mat-card class="add-student-form-card">

  <mat-form-field>
    <mat-select [formControl]="selectedSchoolEMIS" name="selectedSchoolEMIS" placeholder="Select a School" id="test" (selectionChange)="getStudentsClassesList($event.value)">
      <mat-option *ngFor="let school of schoolsList" [value]="school.$key">
        {{school.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [formControl]="studentClass" name="selectedStudentsClassName" placeholder="Select Class" required>
      <mat-option *ngFor="let studentsClass of studentsClassesList" [value]="studentsClass.$key">
        {{studentsClass.$key}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="number" [formControl]="rollNumber" placeholder="Roll Number">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" [formControl]="name" placeholder="Name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [formControl]="fatherName" placeholder="Father Name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" [formControl]="address" placeholder="Address">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="number" [formControl]="phone" placeholder="Phone">
  </mat-form-field>

  <button type="submit" mat-stroked-button color="accent" class="half-width" (click)="insertStudent()">Add Student</button>

</mat-card>

<!-- 

<mat-card class="add-student-form-card">
  <h4>Add Student</h4>
  <form #studentForm1="ngForm" (onSubmit)="insertStudent(studentForm1)" class="example-form">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="studentClassService.selectedStudentClass.$key">

    <mat-form-field class="example-full-width">
      <input matInput name="name" #name placeholder="Name of Class" type="text" required aria-label="State">
    </mat-form-field>

    <button mat-raised-button name="addStudent" (click)="insertStudent(studentForm1)" type="submit">Add Student</button>

  </form>

</mat-card>






















<mat-card class="add-student-form-card">
  <h4>Create New Student</h4>

  <form #studentForm="ngForm" (onSubmit)="insertStudent(studentForm)" class="example-form">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="studentService.selectedStudent.$key">

    <mat-form-field>
      <mat-select name="selectedSchoolEMIS" placeholder="Select a School" id="test" (selectionChange)="getStudentsClassesList($event.value)">
        <mat-option *ngFor="let school of schoolsList" [value]="school.$key">
          {{school.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select name="selectedStudentsClassName" placeholder="Select Class" required>
        <mat-option *ngFor="let studentsClass of studentsClassesList" [value]="studentsClass.$key">
          {{studentsClass.$key}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input matInput name="name" placeholder="Name" type="text" required aria-label="State">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input name="fatherName" matInput type="text" placeholder="Father Name" required>
    </mat-form-field>
    <mat-form-field class="add-student-form-card">
      <input matInput name="address" type="text" placeholder="Address" required>
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput type="number" name="phone" placeholder="Phone">
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput [matDatepicker]="picker" name="DOB" placeholder="Date of Birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <button mat-stroked-button name="addStudent" type="submit" color="accent" class="half-width" (click)="insertStudent(studentForm)">
      Add New Student
    </button>
    <button mat-stroked-button color="accent" routerLink="/students-list" class="half-width">Back to Classes</button>
  </form>
</mat-card> -->