<mat-card class="add-student-form-card">
  <h4> Add Student Class</h4>
  <form #studentClassForm="ngForm" (onSubmit)="insertStudentClass(studentClassForm)" class="example-form">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="studentClassService.selectedStudentClass.$key">

    <mat-form-field>
      <mat-select name="selectedSchoolEMIS" [(value)]="selectedSchoolEMIS" placeholder="Select a School">
        <mat-option *ngFor="let school of schoolsList" [value]="school.$key">
          {{school.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput name="name" #name="ngModel" [(ngModel)]="studentClassService.selectedStudentClass.name" placeholder="Name of Class"
        type="text" required aria-label="State">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput name="session" #session="ngModel" [(ngModel)]="studentClassService.selectedStudentClass.EMIS" type="text"
        placeholder="Session" required>
    </mat-form-field>
    <mat-form-field class="add-student-form-card">
      <input matInput name="incharge" #incharge="ngModel" [(ngModel)]="studentClassService.selectedStudentClass.incharge" placeholder="incharge"
        required>
    </mat-form-field>

    <br>
    <button mat-stroked-button color="accent" class="half-width" type="submit" (click)="insertStudentClass(studentClassForm)" [disabled]="!studentClassForm.valid">Add Student Class</button>
    <button mat-stroked-button color="accent" routerLink="/schools-list" class="half-width">Back to Schools</button>
  </form>
</mat-card>