/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/ng2-slim-loading-bar/style.css";

/* Classes for header of lists 000 */

/* floating heading 4 to left */
.list-header> h4{
    float: left;
}

/* floating button to right */
.list-header> button{
    float: right;
    margin-right: 5px;
    margin-top: 10px;
}

/* 000 */

/* Classes for Add new record as center card 111 */

/* Center card for new record */
.add-new-record-form-card{
    width: 500px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

/* 111 */

@import "theme";


/* This is to fill the space between title and notification icon *333* */
.fill-remaining-space {
  flex: 1 1 auto;
}
/* 333 */

/* Global Styles 444 */

/* Full width section */
.full-width{
    width: 100%;
}

/* Half width section with 40% width and 0.5% margin */
.half-width-49pr-05mrg{
    width: 49%;
    margin: 0.5%;
}

/*
 Card for add section with 
    width 500px,
    center aligned,
    left and right margin auto
 */
 .add-form-card{
    width: 500px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }

  /* Left floating class */
  .float-left{
      float: left;
  }

  /* Right floating class */
  .float-right{
      float: right;
  }

/* 444 */